body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

span{
  color:red;
}

a{
  color:black;
  text-decoration: none;
}

.none{
  display: none;
}

.formik-error{
  color:#FF0D0D;
  padding:.5rem 0;
  font-size: .8rem;
}

.input-error{
  border: 1px solid #FF0D0D !important;
  transition: .3s;
}